body{
margin: 0;
}
.HeaderLink { margin: auto;
    display: inline-block; 
}

.HeaderPhoto { margin: auto;  width: 50px;
    background-color: #FBF6EE; 
    border-radius: 50%; border: 4px solid #FFB534;
    display: inline-block; 
    vertical-align: middle; 
}
.Header{height: 100px;
    margin: auto; border: 2px sold red;
    background-color: #65B741;
}
.HeaderText {padding:5px ; color: #FBF6EE;margin: auto;
    display: inline-block; 
    vertical-align: middle;  font-size: 1.3em;
}
ul{padding: 1em;
    margin: 0;
}
.searchbar{ 
  
 margin-top:-50px;
 margin-left: 80%;
}